.svn/
obj/
bin/
TestResults/
_ReSharper*
*.user
*.csproj.user
*.resharper.user
*.user
*.suo
*.Publish.xml
*.DotSettings
*.pubxml
ToDo.txt
ToDoClass.txt
Build/
Local.testsettings
_Resharper.*/
*.log
*.snk
*.nupkg